html{
 height: 100%;
 width: 100%;
}

body{
	background-color: rgb(12,75,107);
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin:0;
	width: 100%;
 	height: 100%;
}
h1{
	text-align: center;
	
}

#disclaimer{
	text-align: center;
}

#navBarDiv{
	background-color:  rgb(189,101,1); 
	width: 100%;
}
#navBarList{
	list-style-type: none;
	color: black;
	text-shadow: none;
	text-align: center;

}

#myPic{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 12%;

}
pre.homeText{
	font-size: 125%;
	white-space: pre-line;

	margin-left: 2%
}
#languages{
	display: inline-block;

}
#technologies{
	display: inline-block;
}
ul#navBarList li{
	display: inline;
	padding: 5%;

}
ul#navBarList input{
	border: none;
	background-color: inherit;
	cursor: pointer;
	font-size: 133%;
}